.navbar,
.jumbotron-fluid {
  width: 100vw;
}

.nav-bg {
  &--light {
    background-color: #007bff !important;
  }
  &--dark {
    background-color: #272727 !important;
  }
}
.navbar-brand {
  &--light {
    color: #fff;
  }
  &--dark {
    color: #fff;
  }
}
.nav-link {
  text-align: right;
  margin-right: 1vw;
  &--light {
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease;
    &:hover {
      color: rgba(255, 255, 255, 0.75);
    }
  }
  &--dark {
    color: rgba(255, 255, 255, 1);
    transition: all 0.3s ease;
    &:hover {
      color: rgba(255, 255, 255, 0.75);
    }
  }
}
