.navbar,
.jumbotron-fluid {
  width: 100vw;
}
.nav-link {
  text-align: right;
  margin-right: 1vw;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.content {
  flex: 1; /*this is the property flex-grow that makes the div flexible*/
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: 1px solid #eaeaea;
}
